* {
    margin: 0;
    padding: 0;
}

.main-menu2 ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.main-menu2 ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: green;
    flex-basis: 150px;
    }


.main-menu2 ul li a {
    color: white;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    }

.aaa {
    order: 10;
    }

.bbb {
    order: 5;

    }

.ccc {
    order: 7;
    }

.ddd {
    order: 4;
    flex-basis: 300px;
    }

.eee {
    order: 1;
    }

.fff {
    order: 8;
    }













 
 .main-menu ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    }


.main-menu ul li a {
    color: white;
    background-color: green;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    }

.main-menu ul:first-child li{
    margin-top: 0;
    }

.box {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    background-color: red;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
    }

